.header-image__form {
  display: block;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 320px;
  height: 182px;
  background: url("../img/text-sedona.svg") center no-repeat,
  url("../img/divider_mobile_top.png") 0 155px no-repeat,
  url("../img/bg-back-mobile@1x.jpg") center no-repeat;
}

.form__header {
  display: flex;
  width: 100%;
  font-family: $font-family;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-align: center;
  font-size: 16px;
}

.form__group {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
  border-top: 1px solid $bg-color;
  padding-top: 25px;
}

.form__group1 {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
  border-top: 1px solid $bg-color;
  padding-top: 25px;
}

.form {
  margin: 20px;
  display: flex;
}

.form__input {
  flex-wrap: wrap;
  height: 30px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  font-size: 15px;
  font-family: $font-family;
  font-weight: 600;
  background: $form-background;
  color: $form-text;
  border: none;
  outline: none;
}

.form__input--name {
  margin-left: 32px;
}

.form__field--contacts {
  margin-bottom: 20px;
}

.form__mistake {
  color: red;
  font-size: 12px;
  font-family: $font-family;
  text-transform: none;
  padding-top: 0;
  padding-bottom: 20px;
}

.form__input--contact {
  width: 260px;
  height: 35px;
  margin: 5px auto;
  background: $form-background url("../img/icon-phone.svg") 220px 50% no-repeat;
}

.form__input--email {
  width: 260px;
  height: 35px;
  margin: 5px auto;
  background: $form-background url("../img/icon-mail.svg") 220px 50% no-repeat;
}

.form__label--contact {
  padding-bottom: 20px;
}

.form__input--phone {
  margin: 0 0 50px;
}

.form__input--email {
  margin: 0 0 23px;
}

.form__input--radio {
  display: none;
  margin: 0 0 23px;
}

.form__input--checkbox {
  display: none;
  margin: 0 0 23px;
}

.form__input--checkbox:checked + label::before {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 4;
  content: "";
  width: 35px;
  height: 35px;
  background: $form-background url("../img/icon-tick.svg") center no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  border-radius: 3px;
}

.form__label--checkbox {
  margin-left: 30px;
  line-height: 30px;
  padding: 20px;
}

.form__input--textarea {
  width: 280px;
  height: 120px;
  margin: 20px auto;
}

.form__submit-btn {
  background-color: $bg-blue;
  width: 270px;
  height: 55px;
  margin-bottom: 30px;
  color: $bg-white;
  font-size: 16px;
  font: $font-family;
  font-weight: 600;
  border: none;
  outline: none;
}




