.header {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
  min-width: 250px;
}

.main-nav {
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

}

.main-nav__item {
  display: inline-block;
  margin: 0;
  text-align: center;
  list-style: none;
  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;

  &:last-child {
    border-bottom: none;
  }
  &:first-child {
    border-top: none;
  }
}

.main-nav__item {
  a {
    display: block;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    color: $bg-white;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 240px;
  left: 85%;
  width: 35px;
  height: 40px;
  background: url("../img/icon-menu.svg") no-repeat;
  border: none;
}

.main-nav__item .main-nav__item--main {
  display: flex;
  flex-grow: 2;
  position: relative;
}

.main-nav__item .main-nav__item--close {
  position: absolute;
  left: 85%;
  top: 10px;
  display: flex;
  flex-grow: 0;
  background: url("../img/icon-cross.svg") no-repeat;
  width: 35px;
  height: 35px;
  margin-left: 0;
  border: none;
}

.logo {
  width: 188px;
  height: 96px;
  position: absolute;
  top: 222px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header-image {
  display: block;
  margin-top: 60px;
  margin-bottom: 26px;
  width: 100%;
  height: 390px;
  background: url("../img/text-index.png") 50% center no-repeat,
  url("../img/bg-intro-triangle-mobile.svg") 50% 364px no-repeat,
  $bg-blue url("../img/bg-back-mobile@1x.jpg") center no-repeat;
}

.header-text {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  background: #FFFFFF;
}

.header-text__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 15px;
}

.header-text__text {
  margin-top: 32px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
}

.main-nav__item--hidden {
  display: none;
}

.main-nav__item .main-nav__item--main--hidden {
  display: none;
}

.main-nav__item .main-nav__item--close--hidden {
  display: none;
}

.logo--hidden {
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-51%);
}

@media (min-width: 768px) {

  .header {
    display: inline-flex;
    width: 100%;
  }

  .main-nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-nav__items {
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {

    text-align: center;
    width: 20%;
    margin: 0;
    background: none;
    border: none;

    a {
      display: inline-block;
      font-size: 14px;
      padding-top: 15px;
      padding-left: 15px;
      text-decoration: none;
      color: #000000;
      font-weight: 400;
      margin: 0;
    }
    &--foto {
      margin-right: 10%;
    }
    &--form {
      margin-left: 10%;
    }

  }
  .main-nav__toggle {
    display: none;
  }

  .main-nav__item .main-nav__item--main {
    display: none;
  }

  .main-nav__item .main-nav__item--close {
    display: none;
  }

  .logo {
    width: 188px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-51%);
     }

  .header-image {
    display: block;
    margin-top: 0;
    margin-bottom: 35px;
    width: 100%;
    height: 522px;
    background: url("../img/text-index.png") 50% 45% no-repeat/60%,
    url("../img/bg-triangle1.png") 50% 467px no-repeat,
    $bg-blue url("../img/back-desktop.jpg") center no-repeat/100%;
  }

  .header-text {
    width: 78.1%;
    padding-left: 25px;
    margin: 0 auto;
    background: #FFFFFF;
    margin-bottom: 35px;
  }

  .header-text__title {
    display: inline-block;
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }

  .header-text__text {
    margin-top: 20px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    line-height: 21px;
  }
}

@media (min-width: 1200px) {

  .header {
    width: 100%;
    background-color: $bg-white;
  }

  .main-nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-nav__item {
    flex-basis: 20%;
    margin: 0 auto;
    padding-left: 60px;
    a {
      font-weight: 600;
    }
    &--foto {
      margin-right: 10%;
    }
    &--form {
      margin-left: 10%;
    }
  }

  .header-image {
    display: block;
    margin-top: 0;
    margin-bottom: 35px;
    width: 100%;
    height: 522px;
    background-size: 100%;
    background: url("../img/text-index.png") 50% 45% no-repeat/40%,
    url("../img/bg-triangle1.png") 50% 433px no-repeat/100%,
    $bg-blue url("../img/back-desktop.jpg") center no-repeat/100%;
  }
  .header-text {
    width: 41%;
    padding-left: 0;
  }

  .header-text__title {
    width: 100%;
    font-size: 20px;
  }

  .header-text__text {
    margin-top: 20px;
    padding: 0;
  }

}

