.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
    font: $font-family;
    font-weight: 600;
  }
  &__text {
    text-align: center;
    color: #000000;
    font-size: 14px;
    font: $font-family;
  }
}

.hotel-button {
  background-color: $bg-blue;
  width: 270px;
  height: 55px;
  margin-bottom: 30px;
  border: none;
  outline:none;
  a {
    text-decoration: none;
    color: $bg-white;
    font-size: 16px;
    font: $font-family;
    font-weight: 600;
  }
}
