.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 34px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
  }
  &__text {
    text-align: center;
    color: #000000;
    font-size: 13px;
    width: 85%;
    margin-top: 5px;
  }
}

.hotel-button {
  margin-top: 23px;
  background-color: $bg-blue;
  width: 280px;
  height: 55px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  text-align: center;
  vertical-align: middle;
  &:hover {
    background-color: $btn-hover;
  }
  &:active {
    background-color: $btn-down;
  }
  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
  }

  &-in-progress {
    transition: background-color 0.1s linear;
    0% {
      background-color: $bg-blue;
    }
    50% {
      background-color: $btn-hover;
    }
    100% {
      background-color: $btn-down;
    }
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: $bg-white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    &:active {
      color: #8db5d0;
    }
  }

}

@media (min-width: 768px) {
  .hotel {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 0 auto;

    &__title {
      margin-top: 57px;
      font-size: 26px;
    }

    &__text {
      text-align: center;
      font-size: 14px;
      padding: 0 9%;
      margin-top: 10px;

    }
  }

  .hotel-button {
    width: 85%;
    height: 57px;
    margin-bottom: 37px;
    margin-top: 28px;

    a {
      font-size: 19px;
      font-weight: 600;
    }
  }

}

@media (min-width: 1200px) {
  .hotel {

    &__title {
      margin-top: 57px;
      font-size: 26px;
    }

    &__text {
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
      width: 52%;

    }
  }

  .hotel-button {
    width: 458px;
    margin-top: 33px;
    margin-bottom: 57px;

  }

}
