.page-main {
  margin-top: 50px;
}

.header-image__foto {
  display: block;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 320px;
  height: 160px;
  background:   url(/img/divider_mobile_top.png) 0 155px no-repeat,
  url(/img/bg-back-mobile@1x.jpg) center no-repeat;
  background-origin: content-box;
  background-clip: content-box;
}


.header-text {
  margin-top: 50px;
}
.photo {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 320px;
 align-content: flex-start;
  margin: 20px;
}
.photo__image {
  display: flex;
  border-top: 5px solid grey;
  padding-top: 24px;
  width: 280px;
  height: 280px;
  background-size: contain, 100%;
}
.photo__title {
  font-family: $font-family;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 55px;
  text-align: left;
  padding-left: 25px;
}
.photo__text {
  display: flex;
  font-family: $font-family;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  padding-bottom: 35px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 25px;
}
.photo__trumb-up {
  display: flex;
  width: auto;
  height: auto;
  background: url(/img/icon-tick.svg) center no-repeat;
}
