@media (min-width: 320px) {
  .reasons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 320px;
    margin-top: 25px;
    height: 420px;
    padding-bottom: 2px;
    background: $bg-white;
  }

    .reasons__picture {
    position: relative;
    padding-left: 25px;
    &--home {
      position: absolute;
      width: 39px;
      height: 37px;
      background: url("/img/icon-house.png") center no-repeat;
    }
    &--gift {
      position: absolute;
      width: 40px;
      height: 40px;
      background: url("/img/icon-gift.png") center no-repeat;
    }
    &--eat {
      position: absolute;
      width: 40px;
      height: 38px;
      background: url("/img/icon-burger.png") center no-repeat;
    }
  }

  .reasons__title {
    margin-top: 10px;
    padding-left: 65px;
    font-weight: 700;
    color: #000000;
    font-size: 21px;
    text-transform: uppercase;
  }

  .reasons__text {
    padding-left: 65px;
    font-weight: normal;
    color: #000000;
    font-size: 14px;
  }
}
  @media (min-width: 768px) {
    .reasons {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 10px;
      height: 280px;
      padding-bottom: 2px;
    }

    .reasons__item {
      display:flex;
      flex-direction: column;
      width: 33%;
      height: auto;
    }
    .reasons__picture {
      display: block;
      position: inherit;
      padding-left: 25px;
      &--home {
        position: inherit;
        margin-left: 30%;
        width: 75px;
        height: 75px;
        background: url("/img/icon-house.png") center no-repeat/70px;
        background-size: 60%;
        order: 1;
      }
      &--gift {
        position: inherit;
        margin-left: 30%;
        width: 75px;
        height: 75px;
        background: url("/img/icon-gift.png") center no-repeat;
        background-size: 50%;
        order: 1;
      }
      &--eat {
        position: inherit;
        margin-left: 30%;
        width: 75px;
        height: 75px;
        background: url("/img/icon-burger.png") center no-repeat;
        background-size: 60%;
        order:1;
      }
    }
    .reasons__title {
      padding-left: 0;
      margin-top: 10px;
      display: block;
      text-align: center;
      font-weight: 700;
      color: #000000;
      font-size: 21px;
      order: 2;

    }

    .reasons__text {
      width: 65%;
      display: inline-block;
      padding: 5% 15%;
      text-align: center;
      font-weight: normal;
      color: #000000;
      font-size: 12px;
      order: 3;

    }
  }
