$bg-blue: #81b3d2;
$bg-white: #ffffff;
$bg-color: #f2f2f2;
$font-size: 14px;
$font-family: "PT Sans", Arial, sans-serif;
$txt-transform: uppercase;
$form-background: #f2f2f2;
$form-text: #000000;
$mobile-padding: 20px;

@import 'normalize';
@import 'header';
@import 'reason';
@import 'reasons';
@import 'types';
@import 'hotel';
@import 'footer';
@import 'form';
@import 'photo';

body {
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  color: #000;
  background-color: $bg-white;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) {
  body {
       min-width: 320px;

  }
  .page-main {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
    margin: 0 auto;
  }
  section {
background-color: $bg-white;
  }

}

@media (min-width: 1200px) {

  body {
    min-width: 1210px;
    max-width: 1220px;
    width: 100%;
    background-color: $form-background;
    margin: 0 auto;
  }
  img {
     height: auto;

  }
  section {
    width: 1200px;
    background-color: $bg-white;
    margin: 0 auto;
  }
  footer {
    width: 100%;
    background-color: $bg-white;

  }
}

