@import 'header';

$bg-blue: #81b3d2;
$bg-white: #ffffff;
$bg-color: #f2f2f2;
$font-size: 14px;
$font-family: PT Sans,Arial,sans-serif;
$txt-transform: uppercase;


body {
  min-width: 320px;
    max-width: 600px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background-color: $bg-white;
}
.header {
  margin: 0;
  padding: 0;
}
.main-nav {
    margin: 0;
    display: flex;
}
.main-nav__item {
   
    width: 320px;
    list-style: none;
    justify-content: space-around;
    background-color: #81b3d2;
    border-bottom: 1px solid blue;
  &:last-child {
    border-bottom: none;
  }
}
.main-nav__item {
    a {
    padding: 16px;
    text-decoration: none;
    color: $bg-white;
     font-weight: bold;
    }
}
.main-nav__toggle {
  background: url("img/icon-burger.svg") no-repeat;
  width: 22px;
  height: 22px;
}
.main-nav__item .main-nav__item--close {
  display: flex;
  margin-left: auto;
  background: url("img/icon-cross.svg") no-repeat 100% 0%;
  width: 100%px;
  height: 22px;
  /*кнопку зарытия можно ли сделать через position: absolute? применяется ли данное значение для флексов*/
}

.logo {
  width: 102px;
  height: 82px;
  position: absolute;
  top: 220px;
  left:110px;
  z-index: 1;
}
.header-image img{
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  background-size: contain;
  width: 320px;
 height: 385px;
  /*не слушается назначенных размеров,*/

  &:before {
    content: ' ';
    position: absolute;
    background: url("img/text-index.png") no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &:after {
    content: ' ';
    position: absolute;
    background: url("img/divider_mobile_top.png") no-repeat;
    width: 290px;
    height: 230px;
    z-index: 3;
  }
}
.header-text {
    width: 250px;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
}

.header-text__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: PT Sans,Arial,sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.header-text__text{
     margin-top: 40px;
  margin-bottom: 30px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: PT Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 21px;
}
.reason {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  height: 207px;
  margin: 0;
  padding-bottom: 45px;
  background-color: $bg-blue;
}
.reason__title{
  font-family: $font-family;
  font-weight: 700;
  color: $bg-white;
  font-size: 21px;
  text-transform: uppercase;
  padding-top: 65px;
}
.reason__number {
  font-family: $font-family;
  font-weight: normal;
  color: $bg-white;
  font-size: 18px;
  margin: 0 auto 25px;
}
.reason__text {
  font-family: $font-family;
  font-weight: normal;
  color: $bg-white;
  font-size: 18px;
  padding:10px;
  padding-bottom: 35px;
}
.reason__foto {
  margin-bottom: 40px;
  width: 100%;
  height:auto;
  }
.reasons {
display: flex;
flex-basis: 320px;
flex-direction: column;
flex-wrap: wrap;
}
.reasons__item .reasons__item--home {
background: url("img/icon-house.svg") no-repeat;
}

.reasons__title .types__title{
 font-family: $font-family;
  font-weight: 700;
  color: #000000;
  font-size: 21px;
  text-transform: uppercase;
  }
.reasons-text .types__text .types__number{
  display: flex;
 font-family: $font-family;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
}

.types {
  display: flex;
 flex-wrap: wrap;
  flex-grow: 1;
  flex-basis:320px;
  }
  .types_item {
  display: flex;
   flex-direction: column;
   padding: 32px;
   }
   


