@media (min-width: 320px) {
  .types {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 320px;
    background-color: #eeeeee;
  }

  .types__title {
    color: #000000;
    font-size: 16px;
    font: $font-family;
    font-weight: 600;
  }

  .types__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 165px;
    width: auto;
  }

  .types__text {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #d6d6d6;
  }
}

@media (min-width: 768px) {
  .types {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
    background-color: #eeeeee;
  }

  .types__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25%;
  }
  .types__title {
    margin: auto;
    display: inline-block;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
  }

  .types__text {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: none;
  }

  .types__text--brake {
    word-break: break-all;
  }
}
