.types {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 320px;
  background-color: #eeeeee;
  margin-top: -5px;
}

.types__title {
  width: 100%;
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 7px;
}

.types__number {
  margin-top: 0;
  display: block;
}

.types__item {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 170px;

}

.types__text {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
  width: 70%;
  &:nth-of-type(3) {
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .types {
    display: flex;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 100%;
    background-color: #eeeeee;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .types__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 33%;
    margin-top: 0;
  }
  .types__title {
    margin: 13px;
    display: inline-block;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    width: 58%;
    padding-left: 8px;

  }
  .types__number {
    margin-top: 0;
  }

  .types__text {
    width: 63%;
    padding-bottom: 20px;
    margin-top: 0;
    border-bottom: none;
  }


}

@media (min-width: 1200px) {
  .types {
    height: 228px;
   padding-top: 0;
    width: 100%;
    margin: 0 auto;
  }

  .types__item {
    justify-content: center;
    align-items: baseline;
    width: 28%;
    padding: 0px 30px;
  }

  .types__title {
    width: 44%;
    margin: 0 auto;
    padding-bottom: 7px;
    margin-top: 20px;

  }
  .types__text {
    margin: 0 auto;
    width: 77%;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
  }
  .types__number {
    margin: 0 auto;
    padding-top: 5px;
  }
}





